<style>
    #febs-apex-mix .layui-card-header {
        font-weight: 600;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="febs-apex-mix" lay-title="测试功能">
    <div class="layui-row layui-col-space8 febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">条件1</div>
                <div class="layui-card-body">
                    <div id="lineColumnChart"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">条件2</div>
                <div class="layui-card-body">
                    <div id="multipleYAxisChart"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">条件3</div>
                <div class="layui-card-body">
                    <div id="lineAreaChart"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-header">条件4</div>
                <div class="layui-card-body">
                    <div id="lineColumnAreaChart"></div>
                </div>
            </div>
        </div>
    </div>
</div>